{% extends "core/base.html" %}

{% block title %}
My Watchlist
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <form method="get" action="{% url 'search_movies' %}" class="flex justify-center items-center gap-2">
        <input type="text" name="query" placeholder="Search for Movies..." class="p-2 rounded border">
        <button type="submit" class="bg-[#294e79] p-2 rounded">
            <i class="fas fa-search text-white"></i>
        </button>
    </form>
    <h1 class="text-2xl text-center py-4">{{request.user.first_name}}'s Watchlist ({{watchlist|length}})</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        {% for entry in watchlist %}
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <img class="w-full h-96 object-cover" src="{{entry.movie.poster}}" alt="{{entry.movie.title}}">
            <div class="flex flex-col gap-2 p-4">
                <h2 class="text-xl font-semibold">{{entry.movie.title}}</h2>
                <div class="flex justify-between items-center">
                    <p class="">Release Date: {{entry.movie.release_date}}</p>
                    <a href="{% url 'remove_from_watchlist' entry.movie.id %}"
                        class="bg-red-500 px-2 py-1 rounded text-white text-center"><i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}