{% extends "core/base.html" %}

{% block title %}
My Watchlist
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <form method="get" action="{% url 'search_movies' %}" class="">
        <input type="text" name="query" placeholder="Search for Movies..." class="p-2 rounded border">
        <button type="submit" class="bg-[#294e79] p-2 rounded">
            <i class="fas fa-search text-white"></i>
        </button>
    </form>
    <h1 class="text-2xl text-center py-4">{{request.user.first_name}}'s Watchlist</h1>
    <div class="grid grid-cols-4 gap-6">
        {% for entry in watchlist %}
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <img class="w-full h-96 object-cover" src="{{entry.movie.poster}}" alt="{{entry.movie.title}}">
            <div class="flex flex-col gap-2 p-4">
                <h2 class="text-xl font-semibold">{{entry.movie.title}}</h2>
                <p class="">Release Date: {{entry.movie.release_date}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}