{% extends "core/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="bg-cover bg-center h-[600px] w-full flex flex-col items-center justify-center gap-4 text-white"
    style="background-image: url('https://res.cloudinary.com/dxqfzsh70/image/upload/v1734286223/image_2_m3ibae.png');">

    <h1 class="uppercase font-bold text-6xl">Film Buzz</h1>
    <p class="font-semibold text-xl text-center">Dive into stories that inspire, connect with fellow movie lovers,<br>
        and bring
        your
        passion for film to life!
    </p>
    <a href="{% url 'signup' %}" class="bg-[#294E79] text-white rounded px-8 py-2">
        Get Started
    </a>
</section>
{% if trending_posts|length > 0 %}
<section class="max-w-screen-xl mx-auto p-4 mt-10">
    <h2 class="text-center text-3xl font-bold mb-8 text-[#294E79]">Trending Posts</h2>
    <div class="grid grid-cols-2 gap-6">
        <div class="">
            <a href="" class="shadow-md">
                <img src="{{trending_posts.0.image.url}}" alt="First Post"
                    class="w-full h-[420px] object-cover  top-0 left-0">
                <h3 class="text-2xl font-semibold text-white  bottom-2 left-4">{{trending_posts.0.title}}</h3>
            </a>
        </div>

        <div class="grid grid-row-2 gap-4">
            <a href="" class="shadow-md">
                <img src="{{trending_posts.1.image.url}}" alt="Second Post"
                    class="w-full h-[190px] object-cover  top-0 left-0">
                <h3 class="text-2xl font-semibold text-white  bottom-2 left-4">{{trending_posts.1.title}}</h3>
            </a>
            <a href="" class="shadow-md">
                <img src="{{trending_posts.2.image.url}}" alt="Third Post"
                    class="w-full h-[190px] object-cover  top-0 left-0">
                <h3 class="text-2xl font-semibold text-white  bottom-2 left-4">{{trending_posts.2.title}}</h3>
            </a>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}