{% extends "core/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="bg-cover bg-center h-[600px] w-full flex flex-col items-center justify-center gap-4 text-white"
    style="background-image: url('https://res.cloudinary.com/dxqfzsh70/image/upload/v1734286223/image_2_m3ibae.png');">

    <h1 class="uppercase font-bold text-6xl">Film Buzz</h1>
    <p class="font-semibold text-xl text-center">Dive into stories that inspire, connect with fellow movie lovers,<br>
        and bring
        your
        passion for film to life!
    </p>
    <a href="{% url 'signup' %}" class="bg-[#294E79] text-white rounded px-8 py-2">
        Get Started
    </a>
</section>
{% endblock %}