{% extends "core/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="bg-cover bg-center h-[600px] w-full flex flex-col items-center justify-center gap-4 text-white"
    style="background-image: url('https://res.cloudinary.com/dxqfzsh70/image/upload/v1734286223/image_2_m3ibae.png');">

    <h1 class="uppercase font-bold text-6xl">Film Buzz</h1>
    <p class="font-semibold text-xl text-center">Dive into stories that inspire, connect with fellow movie lovers,<br>
        and bring
        your
        passion for film to life!
    </p>
    <a href="{% url 'signup' %}" class="bg-[#294E79] text-white rounded px-8 py-2">
        Get Started
    </a>
</section>
{% if trending_posts|length > 0 %}
<section class="max-w-screen-xl mx-auto p-4 mt-10">
    <h2 class="text-center text-3xl font-bold mb-12 text-[#294E79]">Trending Posts</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="shadow-lg h-[400px]">
            <a href="{% url 'details' trending_posts.0.category.slug trending_posts.0.slug %}" class="relative">
                <img src="{{trending_posts.0.image.url}}" alt="First Post" class="w-full h-full object-cover">
                <div class="bg-black/30 w-full h-[400px] absolute top-0 left-0 pointer-events-none"></div>
                <h3 class="text-4xl drop-shadow font-semibold text-white absolute bottom-2 left-4">
                    {{trending_posts.0.title}}</h3>
            </a>
        </div>

        <div class="grid grid-row-2 gap-4">
            <a href="{% url 'details' trending_posts.1.category.slug trending_posts.1.slug %}"
                class="shadow-lg h-[192px] relative">
                <img src="{{trending_posts.1.image.url}}" alt="Second Post" class="w-full h-[190px] object-cover">
                <div class="bg-black/30 w-full h-[190px] absolute top-0 left-0 pointer-events-none"></div>
                <h3 class="text-2xl drop-shadow font-semibold text-white absolute bottom-2 left-4 ">
                    {{trending_posts.1.title}}</h3>
            </a>
            <a href="{% url 'details' trending_posts.2.category.slug trending_posts.2.slug %}"
                class="shadow-lg h-[192px] relative">
                <img src="{{trending_posts.2.image.url}}" alt="Third Post" class="w-full h-[190px] object-cover ">
                <div class="bg-black/30 w-full h-[190px] absolute top-0 left-0 pointer-events-none"></div>
                <h3 class="text-2xl drop-shadow font-semibold text-white absolute bottom-2 left-4 bg-[gray-800] p-2">
                    {{trending_posts.2.title}}</h3>
            </a>
        </div>
    </div>
</section>
{% endif %}
{% if latest_posts|length > 0 %}
<section class="max-w-screen-xl mx-auto px-4 mt-10 pt-5 pb-12">

    <h2 class="text-center text-3xl font-bold mb-12 text-[#294E79]">Latest Posts</h2>
    <div class="w-full grid grid-cols-1 md:grid-cols-4 gap-40">
        <div class="grid grid-cols-1 gap-8 col-span-3">
            {% for post in latest_posts %}
            <a href="{% url 'details' post.category.slug post.slug %}" class="grid grid-cols-3 gap-6">
                <img src="{{post.image.url}}" alt="{{post.title}}" class="col-span-1 h-[200px] object-cover rounded-md">
                <div class="col-span-2">
                    <h2 class="font-semibold text-2xl mb-4">{{post.title}}</h2>
                    <p class="text-sm">{{post.content|slice:"0:400"|safe}} ...</p>
                </div>

            </a>
            {% endfor %}
            <div class="w-full flex justify-end">
                <a href="{% url 'blog' %}" class="bg-[#294E79] text-white rounded px-4 py-2">Explore More</a>
            </div>
        </div>
        <div class="col-span-1">
            <h2 class="text-2xl font-bold text-[#294E79] mb-4">Categories</h2>
            <div class="flex flex-col gap-4">
                {% for category in categories %}
                <a href="{% url 'category' category.slug %}" target="_blank"
                    class="text-lg hover:underline transition ease-in-out">
                    {{category.title|title}}
                </a>
                {% endfor %}
            </div>
            <div class="">
                <h2 class="text-xl font-bold text-[#294E79] mt-10">Recent Comments</h2>
                <div class="flex flex-col gap-4 mt-4">
                    {% for comment in recent_comments %}
                    <a href="{% url 'details' comment.post.category.slug comment.post.slug %}" class="">
                        <p class="font-semibold">{{comment.user.username}}</p>
                        <p class="text-sm">{{comment.comment|slice:"0:100"}}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
</section>
{% endif %}
{% endblock %}