{% extends "core/base.html" %}

{% block title %}
Login to Film Buzz
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <img class="h-14"
        src="https://raw.githubusercontent.com/raycarter23/film-buzz/refs/heads/main/documentation/images/logo.png"
        alt="Film Buzz Logo">
    <p>Welcome Back to Film Buzz</p>
    <h2>Log in to your account</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="bg-[#294E79] text-white rounded-lg">
            Sign In
        </button>
        <p>Don't have an account?</p>
    </form>
</div>
{% endblock %}