{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        textarea,
        input {
            border: 1px solid #333;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="w-full flex flex-col lg:flex-row gap-6 lg:gap-12">
        <div class="lg:w-3/5">
            <img src="https://res.cloudinary.com/dxqfzsh70/image/upload/v1733950181/image_14_yoovm9.png"
                class="h-[380px] md:h-[460px] lg:h-screen object-cover w-screen lg:w-full" alt="Movie Poster">
        </div>
        <div class="flex flex-col items-center lg:items-start justify-center px-4 py-4 lg:py-8 lg:w-2/5">
            <div class="mb-8 flex flex-col items-center lg:items-start">
                <a href="{% url 'home' %}"><img class="h-14"
                        src="https://raw.githubusercontent.com/raycarter23/film-buzz/refs/heads/main/documentation/images/logo.png"
                        alt="Film Buzz Logo"></a>
                <p>It only takes a minute to join Film Buzz!</p>
                <p>Fill in the form below to get started.</p>
            </div>
            <h2 class="text-[#294E79] font-bold text-3xl mb-6">Create a new account</h2>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="bg-[#294E79] text-white text-sm rounded px-16 py-2 mt-4">
                    Sign Up
                </button>
            </form>
            <a href="{% url 'login' %}" class="text-[#294E79] underline pt-8">Already have an account?</a>
        </div>
    </div>
</body>

</html>